<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>cashier desk</title>
  <meta name="viewport"
        content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/common.css">
  <!--红色主题-->
  <!--<link rel="stylesheet" href="css/red.css">-->
  <!--绿色主题-->
  <!--<link rel="stylesheet" href="css/green.css">-->
  <!--紫色主题-->
  <!--<link rel="stylesheet" href="css/violet.css">-->
  <!--黄色主题-->
  <!--<link rel="stylesheet" href="css/yellow.css">-->

  <script src="js/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
</head>

<body>

<div id="app">
  <div class="pay-warp">
    <!--导航条-->
    <div class="nav-bar">
      <div class="container">
        <a href="javascript:;" class="logo"></a>

        <span class="logo-text">{{logoTextEn}}</span>

        <div class="phone">
          <i class="phone-icon"></i>
          <div class="phone-number">{{phoneNumber}}</div>
        </div>
      </div>

    </div>

    <!-- 商户 -->
    <form action="#" class="merchant-warp">
      <div class="container">

        <!--蒙版-->
        <div class="main-mask" v-if="isRemind">
          <div class="mask"></div>

          <div class="wrap" v-if="haveTransfer">
            <div class="remit-modal">
              <div class="model-close">
                <i class="close-btn" @click="closeRemind"></i>
              </div>
              <div class="model-content">
                <div class="content-remind">
                  <i class="has-remind"></i>
                  <span>
                    The service provider has been reminded to collect
                  </span>
                </div>
                <p>
                  Please wait patiently for the service provider to confirm the payment information
                  The average confirmation time of the service provider<span>00:00:00</span>
                </p>
                <a class="content-btn"
                   href="javascript:;" @click="closeRemind">I know</a>
              </div>
            </div>
          </div>

          <div class="wrap" v-if="notTransfer">
            <div class="remit-modal">
              <div class="model-close">
                <i class="close-btn" @click="closeRemind"></i>
              </div>
              <div class="model-content untransfer-content">
                <div class="content-remind">
                  <i class="untransfer-icon"></i>
                  <span class="untransfer-text">
                    If you have not transferred to the service provider,
                    please do not remind the service provider to confirm
                  </span>
                </div>
                <p class="untransfer-p">In order to avoid top-up failure and unnecessary disputes</p>
                <div class="untransfer-btnwarp">
                  <a class="btn btn1"
                     href="javascript:;" @click="closeRemind">Confirm transfer</a>
                  <a class="btn btn2"
                     href="javascript:;" @click="closeRemind">Has yet to transfer</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--支付金额-->
        <div class="merchant-header">
          <div class="header-content">
            <div class="content-sum">
              <label for="number">
                <span>Pay Amount：</span>￥
                <input type="text" id="number" v-model="payAmount">
              </label>
              <label for="payer">
                <span>Payer：</span>
                <input type="text" id="payer" value="zhangsan">
              </label>
            </div>

            <!--支付倒计时-->
            <div class="pay-countdown" id="payCountdown" v-show="countdown">
              <span class="countdown-text">Time left to pay：</span>
              <span class="countdown-time" id="countDownTimer">15:00</span>
            </div>
            <div class="content-hint" v-show="countdown">
              <i class="hint-icon"></i>
              <p>Tip：The
                <strong class="show-hint">USDT</strong>
                that you intend to purchase has been secured by
                INFINITE PAY,please complete the payment</p>

              <div class="remit-text">
                <em class="triangle"></em>
                USDT is a digital asset based on the Omni LayerProtocol published on the Bitcoin Blockchain.
                Its biggest feature: a 1:1 anchor to the dollar, it is the world's most liquid cryptocurrency after bitcoin.
                <strong class="fewer">fewer</strong>
              </div>
            </div>

            <!--支付已超时-->
            <div class="overtime" id="overTime" v-show="overtime">
              <div class="countdown-icon"></div>
              <span class="countdown-time">支付已超时</span>
            </div>
            <div class="content-hint overtime-text" v-show="overtime">
              <i class="hint-icon"></i>
              <p>温馨提示：请重新提交入金申请</p>
            </div>

            <!--已提醒服务商收款-->
            <div class="already-gathering" id="alreadyGathering" v-show="HasRemind">
              <div class="countdown-icon"></div>
              <span class="countdown-text">已提醒服务商收款</span>
            </div>
          </div>
        </div>

        <!--支付方式-->
        <div class="payment">
          <div class="payment-header">
            <div class="header-title">
              <span>Payment</span>
            </div>
          </div>

          <!--三种方式-->
          <div class="payment-tab">
            <div class="tab-head">
              <!--银行, 支付宝, 微信-->
              <a class="head-item"
                 href="javascript:;"
                 v-for="(item, index) in paymentEn"
                 :class=" paymentIndex === index?'tab-active':''"
                 @click="tabHead(index)"
              >
                <i class="payment-icon"></i>
                <span>{{item}}</span>
              </a>
            </div>

            <div class="tab-content" v-show="paymentIndex === 0">
              <div class="content-usermsg">
                <div class="usermsg-hint">
                  <i class="hint-icon"></i>
                  <p class="hint-text">Tip: Please
                    <strong>transfer the exact shown amount to the payment details as below</strong></p>
                </div>
                <li class="usermsg-detail">
                  <label for="username">
                    <span>Account name：</span>
                    <input v-model="username" id="username">
                  </label>
                  <input type="button" class="copy" value="Copy"
                         data-clipboard-target="#username"/>
                </li>
                <li class="usermsg-detail">
                  <label for="bank-info">
                    <span>Bank msg：</span>
                    <input v-model="bankInfo" id="bank-info">
                  </label>
                  <input type="button" class="copy" value="Copy"
                         data-clipboard-target="#bank-info"/>
                </li>
                <li class="usermsg-detail">
                  <label for="bank-account">
                    <span>Bank account：</span>
                    <input v-model="bankAccount" id="bank-account">
                  </label>
                  <input type="button" class="copy" value="Copy"
                         data-clipboard-target="#bank-account"/>
                </li>
              </div>
              <div class="content-remark">
                <div class="remark-detail">
                  <label class="detail" for="remark">
                    <span>Transfer note code：</span>
                    <input type="text" id="remark"
                           v-model="TransferNoteCode">
                  </label>
                  <p>
                    Note the number when transferring money,
                    so that the service provider can confirm it quickly
                  </p>
                </div>
              </div>
              <!--银行种类-->
              <div class="bank-types">
                <label class="types-item" for="bank"
                       v-for="(bank, index) in bankTypes"
                       :class="index === selectedBankIndex?'bank-active': ''"
                       @click="selectedBank(index, bank)"
                >
                  <input type="text" id="bank" readonly="readonly">
                </label>
              </div>

              <div class="usermsg-hint">
                <i class="hint-icon"></i>
                <p class="hint-text">
                  Tips: Please click<strong>【I have paid seller】</strong>once the payment is completed。
                </p>
              </div>
              <div class="hint-btn" v-show="HasRemind === false"
                   :class="overtime ? 'pay-overtime': ''">
                <input class="btn1"
                       type="button" value="back">
                <input class="btn2" @click="haveTransferHandle"
                       type="submit" value="Remind the service provider to collect">
              </div>
              <div class="hint-btn" v-show="HasRemind">
                <input disabled="disabled"
                       type="button" value="The service provider has been reminded to collect">
              </div>
            </div>
            <div class="tab-content" v-show="paymentIndex === 1">
              <div class="content-usermsg">
                <div class="usermsg-hint">
                  <i class="hint-icon"></i>
                  <p class="hint-text">Tip: If the transaction amount
                    <strong>More than RMB 50000</strong>，please use
                    <strong>bank transfer </strong>the mode of payment.</p>
                </div>

                <!--支付宝二维码-->
                <div class="alipayQRcode">
                  <i class="alipay-icon"></i>
                  <div class="alipay-text">
                    <i class="scan"></i>
                    <span>Open mobile alipay</span><br/>
                    <span>So scan keeps paying</span>
                  </div>
                </div>
              </div>

              <div class="usermsg-hint">
                <i class="hint-icon"></i>
                <p class="hint-text">
                  Tip: Click after payment is completed
                  <strong>【remind the service provider to collect】</strong>button。
                </p>
              </div>

              <div class="hint-btn alipay-btn" v-show="HasRemind === false"
                   :class="overtime ? 'pay-overtime': ''">
                <input class="btn1"
                       type="button" value="back">
                <input class="btn2" @click="haveTransferHandle"
                       type="submit" value="Remind the service provider to collect">
              </div>
              <div class="hint-btn" v-show="HasRemind">
                <input disabled="disabled"
                       type="button" value="The service provider has been reminded to collect">
              </div>
            </div>
            <div class="tab-content" v-show="paymentIndex === 2">
              <div class="content-usermsg">
                <div class="usermsg-hint">
                  <i class="hint-icon"></i>
                  <p class="hint-text">Tip: If the transaction amount
                    <strong>More than RMB 50000</strong>，please use
                    <strong>bank transfer </strong>the mode of payment.</p>
                </div>

                <!--微信二维码-->
                <div class="alipayQRcode">
                  <i class="alipay-icon"></i>
                  <div class="alipay-text">
                    <i class="scan"></i>
                    <span>Turn on your WeChat</span><br/>
                    <span>So scan keeps paying</span>
                  </div>
                </div>
              </div>

              <div class="usermsg-hint">
                <i class="hint-icon"></i>
                <p class="hint-text">
                  Tip: Click after payment is completed
                  <strong>【remind the service provider to collect】</strong>button。
              </div>
              <div class="hint-btn alipay-btn" v-show="HasRemind === false"
                   :class="overtime ? 'pay-overtime': ''">
                <input class="btn1"
                       type="button" value="back">
                <input class="btn2" @click="haveTransferHandle"
                       type="submit" value="Remind the service provider to collect">
              </div>
              <div class="hint-btn" v-show="HasRemind">
                <input disabled="disabled"
                       type="button" value="The service provider has been reminded to collect">
              </div>
            </div>

          </div>

          <!--服务商信息 PC端-->
          <div class="facilitator-msg">
            <div class="payment-header">
              <div class="header-title">
                <span>Service provider information</span>

                <i class="content-icon"></i>
                <i class="content-icon"></i>
              </div>
            </div>

            <div class="facilitator-content">
              <li>
                <label for="pc-golden1">
                  <span>Name of service provider：</span>
                  <input type="text" v-model="operatorName" id="pc-golden1">
                </label>
              </li>
              <li>
                <label for="pc-golden2">
                  <span>Service times：</span>
                  <input type="text" v-model="ServiceTimes" id="pc-golden2">
                </label>
              </li>
              <li>
                <label for="pc-golden3">
                  <span>Mean confirmation time：</span>
                  <input type="text" v-model="AverageTotalAffirmTime" id="pc-golden3">
                </label>
              </li>
            </div>
          </div>

          <!--支付提醒 PC端-->
          <div class="main-remind">
            <div class="payment-header">
              <div class="header-title">
                <span>Pay to remind</span>
              </div>
            </div>

            <div class="remind-content">
              <p>
                1、Please use real-name bank card, alipay, WeChat, etc. to transfer money.
              </p>
              <p>
                2、If the transaction amount is greater than RMB 50,000,
                The remittance to the bank card after 17:00 on legal holidays or working days may be delayed.
                Please pay in batches (the single payment amount is less than RMB 50,000) to ensure timely arrival of the account.
                If the account is not received in time, the service provider has the right to refuse.
              </p>
              <p>
                3、12am to 6am May cause the service provider to confirm the delay in receiving the account.
                Please try to transfer money in other time,
                The service provider shall not be responsible for any delay in confirmation caused by the transfer within this period.
              </p>
            </div>
          </div>
        </div>

        <!--支付提醒 移动端-->
        <div class="main-remind">
          <div class="payment-header">
            <div class="header-title">
              <span>Pay to remind</span>
            </div>
          </div>

          <div class="remind-content">
            <p>
              1、Please use real-name bank card, alipay, WeChat, etc. to transfer money.
            </p>
            <p>
              2、If the transaction amount is greater than RMB 50,000,
              The remittance to the bank card after 17:00 on legal holidays or working days may be delayed.
              Please pay in batches (the single payment amount is less than RMB 50,000) to ensure timely arrival of the account.
              If the account is not received in time, the service provider has the right to refuse.
            </p>
            <p>
              3、12am to 6am May cause the service provider to confirm the delay in receiving the account.
              Please try to transfer money in other time,
              The service provider shall not be responsible for any delay in confirmation caused by the transfer within this period.
            </p>
          </div>
        </div>

        <!--服务商信息 移动端-->
        <div class="facilitator-msg">
          <div class="payment-header" @click="showFacilitatorMsg">
            <div class="header-title">
              <span>Service provider information</span>
              <em class="unfold"
                  :class="isShowFacilitatorMsg === true ? 'show': ''"
              ></em>
              <!--<i class="content-icon"></i>
              <i class="content-icon"></i>-->
            </div>
          </div>

          <div class="facilitator-content" v-show="isShowFacilitatorMsg">
            <li>
              <label for="golden1">
                <span>Name of service provider：</span>
                <input type="text" v-model="operatorName" id="golden1">
              </label>
            </li>
            <li>
              <label for="golden2">
                <span>Service times：</span>
                <input type="text" v-model="ServiceTimes" id="golden2">
              </label>
            </li>
            <li>
              <label for="golden3">
                <span>Mean confirmation time：</span>
                <input type="text" v-model="AverageTotalAffirmTime" id="golden3">
              </label>
            </li>
          </div>
        </div>
      </div>
    </form>

    <!-- 进行中的订单 PC端 -->
    <div class="progress-order-pc">
      <div class="container">
        <div class="order-header">
          <div class="header-title">
            <span>You also have the following order in progress</span>
          </div>
        </div>
        <!-- 进行中的订单 tab -->
        <div class="order-tab">
          <li class="row tab-head">
            <div class="col-xs-3 col-md-4">pay for the order</div>
            <div class="col-xs-3 col-md-2">time</div>
            <div class="col-xs-3 col-md-2">USDT number</div>
            <div class="col-md-1">currency</div>
            <div class="col-md-1">money</div>
            <div class="col-xs-3 col-md-2">swarm</div>
          </li>
          <li class="row tab-content">
            <div class="col-xs-3 col-md-4">
              WIRES0001WIRES0001WIRES0001WIRES0001WIRES0001
            </div>
            <div class="col-xs-3 col-md-2">2019-02-26 17:12</div>
            <div class="col-xs-3 col-md-2">46.54</div>
            <div class="col-md-1">CNY</div>
            <div class="col-md-1">314.5</div>
            <div class="col-xs-3 col-md-2">
              <div class="examine">examine</div>
            </div>
          </li>
        </div>
      </div>
    </div>

    <!-- 进行中的订单 移动端-->
    <div class="progress-order">
      <div class="container">
        <div class="order-header" @click="showProgressOrder">
          <div class="header-title">
            <span>You also have the following order in progress</span>

            <em class="unfold"
                :class="isShowProgressOrder === true ? 'show': ''"
            ></em>
          </div>
        </div>
        <!-- 进行中的订单 tab -->
        <div class="order-tab" v-show="isShowProgressOrder">
          <li class="row tab-head">
            <div class="col-xs-3 col-md-4">pay for the order</div>
            <div class="col-xs-3 col-md-2">time</div>
            <div class="col-xs-3 col-md-2">USDT number</div>
            <div class="col-md-1">currency</div>
            <div class="col-md-1">money</div>
            <div class="col-xs-3 col-md-2">swarm</div>
          </li>
          <li class="row tab-content">
            <div class="col-xs-3 col-md-4">
              WIRES0001WIRES0001WIRES0001WIRES0001WIRES0001
            </div>
            <div class="col-xs-3 col-md-2">2019-02-26 17:12</div>
            <div class="col-xs-3 col-md-2">46.54</div>
            <div class="col-md-1">CNY</div>
            <div class="col-md-1">314.5</div>
            <div class="col-xs-3 col-md-2">
              <div class="examine">examine</div>
            </div>
        </div>
      </div>
    </div>

    <!--联合担保-->
    <div class="guarantee">
      <div class="container">
        <div class="row">
          <div class="guarantee-item col-sm-4">
            <div class="item-content">
              <div class="content-icon"></div>
              <div class="content-detail">
                <div class="detail-title">Joint guarantee</div>
                <p class="detail-text">
                  The deal is jointly guaranteed by COINPAY and the service provider
                </p>
              </div>
            </div>
          </div>
          <div class="guarantee-item col-sm-4">
            <div class="item-content">
              <div class="content-icon"></div>
              <div class="content-detail">
                <div class="detail-title">Security deposit</div>
                <p class="detail-text">
                  The service provider has paid the full deposit to COINPAY
                </p>
              </div>
            </div>
          </div>
          <div class="guarantee-item col-sm-4">
            <div class="item-content">
              <div class="content-icon"></div>
              <div class="content-detail">
                <div class="detail-title">
                  Managed to lock
                </div>
                <p class="detail-text">
                  USDT for sale has been managed and locked in COINPAY
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
        Copyrights © 2018. All Rights
        Reserved by -istpaytech.com
      </div>
    </footer>
  </div>
</div>

</body>
</html>
<script src="js/cashier_desk.js"></script>
<script>
  $(function () {
    new ClipboardJS('.copy') // 文本的复制

    /* USDT */
    var $showHint = $('.show-hint');
    /*提示文本*/
    var $showText = $('.remit-text');
    /*收起*/
    var $fewer = $('.fewer');

    $($showHint).mouseenter(function () {
      $($showText).css('display', 'block')
    })

    $($fewer).mouseenter(function () {
      $($showText).css('display', 'none')
    })

    var $submit = $('.btn2');

    /*点击之后不能点击*/
    /*$($submit).click(function () {
      $(this).attr('disabled', 'disabled');
    })*/
  })
</script>
